.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}
.skillIcon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  transition-duration: 0.6s;
  cursor: pointer;
}
.img {
  width: 18vw;
  height: 18vw;
  max-height: 100px;
  max-width: 100px;
  transition-duration: 0.6s;
}
.skillIcon:hover {
  transform: scale(1.1);
}
@media only screen and (max-height: 340px) and (orientation: landscape) {
  .container {
    margin-top: -6vh;
  }
  .skillIcon {
    min-width: 14%;
    max-width: 100%;
  }
  .skillText {
    font-size: 8px;
  }
  .img {
    max-height: 30px;
    max-width: 30px;
  }
}
@media only screen and (orientation: landscape) and (max-height: 760px) and (min-height: 340px) {
  .skillIcon {
    min-width: 15%;
    max-width: 100%;
  }
  .img {
    max-height: 30px;
    max-width: 30px;
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .skillIcon {
    min-width: 25%;
    max-width: 100%;
  }
  .skillText {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin-left: 10%;
  }
  .skillIcon {
    min-width: 10%;
    max-width: 30%;
  }
}
